/* The Modal (background) */
.modal {
  display: none;
 /* Hidden by default */
  position: fixed;
 /* Stay in place */
  z-index: 1;
 /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
 /* Full width */
  height: 100%;
 /* Full height */
  overflow: auto;
 /* Enable scroll if needed */
  background-color: #000;
 /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
 /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 3% auto;
 /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
 /* Could be more or less, depending on screen size */
}
.model-h1{
  text-align: center;
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Style the form */
#regForm {
  background-color: #fff;
  margin: 10px auto;
  width: 70%;
  //min-width: 300px;
 /* Style the input fields */
 /* Mark input boxes that gets an error on validation: */
 /* Hide all steps by default: */
 /* Make circles that indicate the steps of the form: */
 /* Mark the active step: */
 /* Mark the steps that are finished and valid: */
}
#regForm input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaa;
}
#regForm input::placeholder{display: block;}
#regForm input.invalid {
  background-color: #fdd;
}
#regForm .tab {
  display: none;
  margin-bottom: 15px;
}
#regForm button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}
#regForm button:hover {
  opacity: 0.8;
}
#regForm #prevBtn {
  background-color: #bbb;
}
#regForm .step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
#regForm .step.active {
  opacity: 1;
}
#regForm .step.finish {
  background-color: #4caf50;
}
@import url("https://fonts.googleapis.com/css?family=Rubik:700&display=swap");
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}



a.button-more {
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  padding: 0.55em 1em;
  background: #fff0f0;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}
a.button-more::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #76bfcc;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
  -webkit-transform: translate3d(0, 0.75em, -1em);
          transform: translate3d(0, 0.75em, -1em);
  -webkit-transition: box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}
a.button-more:hover {
  background: #b2cbcf;
  -webkit-transform: translate(0, 0.25em);
          transform: translate(0, 0.25em);
}
a.button-more:hover::before {
  box-shadow: 0 0 0 2px #5b97be, 0 0.5em 0 0 #ffe3e2;
  -webkit-transform: translate3d(0, 0.5em, -1em);
          transform: translate3d(0, 0.5em, -1em);
}
a.button-more:active {
  background: #ffe9e9;
  -webkit-transform: translate(0em, 0.75em);
          transform: translate(0em, 0.75em);
}
a.button-more:active::before {
  box-shadow: 0 0 0 2px #5d77af, 0 0 #b0c4ca;
  -webkit-transform: translate3d(0, 0, -1em);
          transform: translate3d(0, 0, -1em);
}
